[2017-07-06 18:03] drzraf opened #2 "documentation: keys and use-cases"
Hi,
I don't understand the use-case.
Let's say an application is using this library before submitting something to a remote server.
1. The "key" in this context would be the "public key" of the captcha. _You confirm?_
2. Then the g-response-message (that this library take care of) is going to be submitted to the server which will use it's secret key to verify the captcha. _Still right?_
3. In this

[2017-07-06 18:37] fjcaetano commented on #2
1. The `key` is the public key. Same as `data-sitekey` as described by the [ReCaptcha docs](https://developers.google.com/recaptcha/docs/invisible)
2. g-response-message will try to pre-check if the user is human or not, in which case it will return a valid secret or a challenge to be completed by the user which, in turn, returns the secret, if successful. The secret must then be sent to your back

[2017-07-06 18:40] fjcaetano commented on #2
Let me know if you have any further questions, but I believe your confusion is more towards how the ReCaptcha validation process works rather than something related to this lib. I suggest you study the [ReCaptcha docs](https://developers.google.com/recaptcha/intro) in order to understand the process and its steps.

[2017-07-06 19:08] drzraf commented on #2
I wanted to ensure to lib really act _as_ google's JS client-side
library.
Thank you very much for the answers. They clarify everything.

[2017-07-06 19:10] fjcaetano commented on #2
Great. I hope you enjoy it. Also, feel free to open any PRs if you feel the need.

[2017-07-06 19:10] #2 closed, assigned to nobody

[2017-07-13 07:32] lamhuynh96 opened #3 "Update code for Swift 4"
Hi guy,
I'm very interested in your work and want to use this for reCaptcha in my app. But there's too much error and obsoleted when running it with Xcode 9 and Swift 4.
I hope you can modify this to work with Swift 4. In that case, I'm very appreciated.
Thank you.

[2017-07-13 08:22] lamhuynh96 commented on #3
I just check if just import pod 'ReCaptcha',  it runs with no error.

[2017-07-13 08:22] #3 closed, assigned to nobody

[2017-07-13 08:27] lamhuynh96 opened #4 "WebView doesn't show up in the app"
Hi, I have installed pod "ReCaptcha" and follow your usage description but when i run app and click a button, the Webview doesn't show up. This is my code, please give a look and tell me what is wrong. Thank you.

[code]
I make a view like that and when clicking on I'm not robot image I will call validate.
<img width="325" alt="screen shot 2017-07-13 at 4 33 57 pm" src="https://user-images.githubu

[2017-07-13 13:38] fjcaetano commented on #3
@lamhuynh96 feel free to open a pull-request with these fixes. It'd be much appreciated.

Since Swift 4 is still in beta, I believe it would be best to have it in a branch called `swift4` that we can merge onto master when it's properly released.

[2017-07-13 13:55] fjcaetano commented on #4
Check if these steps are running correctly:

1. Have you set up a valid `ReCaptchaKey` and `ReCaptchaDomain` in your Info.plist
2. When you press the button, it's printing `btnCaptcha clicked` in the console.
3. It is not printing the validation key in the console after step 2
4. If you're using auto layout, try setting `webview.translatesAutoresizingMaskIntoConstraints = false` before setting its

[2017-07-13 15:28] lamhuynh96 commented on #4
<img width="1440" alt="screen shot 2017-07-13 at 10 23 40 pm" src="https://user-images.githubusercontent.com/23587012/28173907-1a8427ba-681a-11e7-8a40-9aa6b5a9cc1c.png">
I just check above steps and have some results:

1. Valid ```ReCaptchaKey``` and ```ReCaptchaDomain```
2. Print button ```clicked``` in the console
3. No validation key after step 2
4. Set ```webview.translatesAutoresizingMaskInto

[2017-07-13 18:06] fjcaetano commented on #4
The webview does not necessarily appear every time, only if the API doubts the user is human so it sends a challenge for the user to complete and then we ask for the webview to be presented.

Try checking if the execution is falling into the `configureWebView` closure. If it isn't try debugging by stepping into the `validate` method and following its execution. Other than that, I don't think there

[2017-07-14 15:25] raziqfarid commented on #4
![screen shot 2017-07-14 at 8 34 26 pm](https://user-images.githubusercontent.com/7502154/28218249-8f1188fa-68d5-11e7-997e-474754132c8a.png)
Hello fjcaetano,
Im also facing the same issue right now.I had installed this using Cocoapods. I hadnt add anything in the storyboard.I included the code given by you.I had entered SiteKey obtained from Google Invisible Recaptcha for the ReCaptchaKey field an

[2017-07-14 15:41] fjcaetano commented on #4
As I said before, the webview will not necessarily be required to show up, therefore, the code within `configureWebView` may not run unless the API requires the webview to be displayed.

This project is an attempt on the Invisible ReCaptcha, so, best case scenario, the validation may happen without notifying the user and without presenting the webview

@raziqfarid I don't see any calls to `recaptc

[2017-07-14 15:52] fjcaetano commented on #4
I have just tried running the Example project and it is working correctly. Also it did not required the webview to show up, so validation happened without the user noticing:

![Example gif](https://raw.githubusercontent.com/fjcaetano/ReCaptcha/master/example2.gif)

[2017-07-14 17:00] raziqfarid commented on #4
Hello fjcaetano,
Thanks a lot for your reply. I had tried recaptcha.validate(on:) already. Will try it again with the help of your example as mentioned above by you and get back to you soon.Thank You

[2017-07-18 20:43] hsavit1 commented on #4
This project is working fine for me. To get the captcha image thing to show up you may need to run the project a bunch of times. In most cases it won't show up

[2017-07-20 19:58] hsavit1 opened #5 "Add to docs that you have to create an Invisible API key"
Let users know that they shouldn't make the mistake of creating a regular reCaptcha key

[2017-08-04 18:03] #5 closed, assigned to nobody

[2017-08-04 18:03] fjcaetano commented on #5
Nice catch.

[2017-09-15 15:00] kasraqq opened #7 "JavaScript Exception"
I got this exception most of the times when I run the app on device, and sometimes on simulator. I can not find the root cause. Any idea?

`Error Domain=WKErrorDomain Code=4 "A JavaScript exception occurred" UserInfo={WKJavaScriptExceptionLineNumber=11, WKJavaScriptExceptionMessage=TypeError: Argument 1 ('target') to MutationObserver.observe must be an instance of Node, WKJavaScriptExceptionSource

[2017-09-21 15:14] fjcaetano commented on #7
I was able to run it fine in every device I tested. Could you provide some info on the stack you're using? Xcode version, device name, iOS version, etc. It might be nice to check if you have correctly configured the ReCaptcha key.

Also, could you try running the example project in your device?

[2017-09-21 15:14] fjcaetano commented on #4
Closing due to inactivity

[2017-09-21 15:14] #4 closed, assigned to nobody

[2017-09-22 11:11] kasraqq commented on #7
I’m already testing the example provided on git,
I got the error on any device, as an example: iPhone5s, iOS version 10.2.1, Xcode 8.2.1
The recaptcha key is also configured correctly. It’s nice to know that, works perfectly on simulator, but not on device.

[2017-09-22 12:26] kasraqq commented on #7
The exception happens here:

  var execute = function() {
    observeDOM(document.getElementsByTagName("div")[3], function() {
      window.webkit.messageHandlers.recaptcha.postMessage({action: "showReCaptcha"});
    });

when  document.getElementsByTagName("div")[3] is not an instance of node.

here is the error:
Error Domain=WKErrorDomain Code=4 "A JavaScript exception occurred" UserInfo={WKJava

[2017-09-22 19:34] fjcaetano commented on #7
I was able to reproduce it on an iPhone SE running iOS 9.3 when I changed to an invalid key.

Could you try running this and paste the result here?
[code]

If it prints `ERROR for site owner: Invalid site key` it is likely that you're using the wrong key, though your domain might be configured correctly. Please, try checking if you didn't set it up with the server key instead of the client key.

<

[2017-09-22 19:45] fjcaetano commented on #7
Btw, also don't forget checking if you've setup an Invisible reCAPTCHA key. If you try using a reCAPTCHA v2 key, the framework won't work.

[2017-09-25 11:48] kasraqq commented on #7
Thanks for the supporting.

here is the result when I replace

(Error Domain=WKErrorDomain Code=4 "A JavaScript exception occurred" UserInfo={WKJavaScriptExceptionLineNumber=1, WKJavaScriptExceptionMessage=TypeError: undefined is not an object (evaluating 'document.getElementsByClassName('grecaptcha-user-facing-error')[0].innerHTML'), WKJavaScriptExceptionSourceURL=my domain, NSLocalizedDescriptio

[2017-09-25 14:15] fjcaetano commented on #7
I'm sorry, I just now realized that the test I gave you doesn't work on iOS, only on web browsers.

The fact that it does work sometimes is an improvement. You need to try and find out what causes the intermittence. The only way I could reproduce the original error you gave me was with a wrong public key.

There's no way to send an array of domains, nor there's no need to it. If you need to use a

[2017-10-04 05:40] hqy2000 commented on #7
Same issue. It works fine on simulators, but crashes on real devices.
The error log is the same.

[2017-10-04 08:55] kasraqq commented on #7
I have found the issue and it has been fixed, you can try as well. When you load the Webview for the first time,( it means when you call the ReCaptchaWebViewManager init method) you should set the size of Webview and the Webview must be added as subview to desired view, before you call the webView.loadHTMLString. If you do so, and you implement this
 `public func webView(_ webView: WKWebView, deci

[2017-10-05 13:49] fjcaetano commented on #7
That is super weird. How did you manage to do that? When calling `validate(on: UIView)` it adds the WKWebView to the given view before executing the API. Did you, by any chance, sent a view that wasn't in the window hierarchy? I wonder if there should be some validation for that.

Also, how were you able to fix it? Or was it fixed with the current changes?

[2017-10-05 17:50] fjcaetano commented on #7
@kasraqq I applied some changes based on your comment. Could you take a look at the commit above and try it out to check if the issue was solved?

[2017-10-07 07:01] hqy2000 commented on #7
@fjcaetano The issue was solved in my app.
btw, can you change the javascript to this url (https://www.recaptcha.net/recaptcha/api.js) so that people in China can use it?

[2017-10-09 14:43] fjcaetano commented on #7
@mmlmml1 no problem, could you create a separate issue for that since it's not related to the exception?

@kasraqq It'd also be great to hear if the fix solved the issue for you as well since you were the one who brought it up

[2017-10-10 09:17] hqy2000 opened #10 "Consider changing the api's url"
For some reasons, all google.com domains are blocked in China. However, Google has just set up a domain called recaptcha.net and users in China can access through Google's server in Beijing.
So I suggest that you may change the url for people in China to access the service.
The url is https://www.recaptcha.net/recaptcha/api.js, (its certificate is issued by Google Internet Authority, so it is REAL

[2017-10-10 12:19] kasraqq commented on #7
@fjcaetano Sorry for delayed response. I'm too much busy these days. I will send a quick feedback asap.

[2017-10-10 16:17] fjcaetano commented on #10
@mmlmml1 could you check if the branch `feature/alternate-endpoint` is working for you? Take a look at the branch's README, you should be able to change your ReCaptcha init to:
[code]

[2017-10-16 01:42] hqy2000 commented on #10
@fjcaetano Sure, and it works! Thx!

[2017-10-16 01:42] #10 closed, assigned to nobody

[2017-11-23 13:30] fjcaetano commented on #7
Closing due to inactivity

[2017-11-23 13:30] #7 closed, assigned to nobody

[2017-11-26 06:28] ebeem opened #13 "hiding recaptcha webview after completing the challenge?"
I am having some problems figuring out how can I hide the `webview` after displaying the challenge, my code is

[code]

after completing the challenge, the **puzzle itself disappears**, but a **blank white screen** is all that's left, do I have to hide the `webview` somehow after completing the challenge?

thanks for the great effort you put in this library

[2017-11-26 19:00] fjcaetano commented on #13
Hi @ebeem, thanks for your support.

The webview won't be removed after completion. It's up to you to hide it or to remove it from the superview.

[2017-11-27 06:42] ebeem commented on #13
thanks for you quick response @fjcaetano

my use case has multiple actions that can be performed in the same view controller, some of these action require showing the `recaptcha`, I followed your advise and tried several tricks to **hide/remove the webview** (from the library code itself, and from my code), I ended up having a `recaptchaView` that covers the whole screen and is empty and hidden, i

[2017-11-27 14:18] fjcaetano commented on #13
I think the library is not cleaned up after use, which means you wouldn't be able to call it twice, since the form has already been sent.

Why do you need to call it twice anyway? If that's really necessary, I think the best way would be to instantiate a new ReCaptcha object.

[2017-11-27 14:44] ebeem commented on #13
@fjcaetano thanks for your reply
actually initiating the object again works, but causes crashes sometimes
I will investigate more and keep you updated

thanks for your help

[2017-11-27 16:12] fjcaetano commented on #13
No problem. Let me know about your findings

[2017-11-29 16:30] xmidi opened #14 "Screen goes blank when tapping outside image area."
Once the recaptcha image is visible, if you tap on an area near the edge of the screen.  The screen goes blank.  This was reproducble on all devices tested using iOS 11.x.

[2017-11-29 16:57] fjcaetano commented on #14
That's interesting. It's a behavior from Google's API. I believe it thinks you're dismissing it by tapping outside of the div's frame.

Have you tried decreasing the webview's frame size to match the div's borders precisely?

[2017-11-29 17:37] xmidi commented on #14
I have not tried matching the div size to the webView size, we currently have the webview edge to edge.  I _think_ it might be a chicken/egg, if we decrease the webview frame, the div might decrease as well, but I will try it.

[2017-11-29 19:35] xmidi commented on #14
So, swing-and-a-miss, decreasing the size of the webView didn't help.  Tapping around the edges still makes the recaptcha image disappear.

[2017-11-30 12:58] fjcaetano commented on #14
@xmidi could you check if the branch `fix/div-dismiss` fixes it for you?

[2017-11-30 15:39] ssathy2 commented on #14
I was having this exact same problem and the `fix/div-dismiss` branch fixes it for me.

[2017-11-30 16:29] ebeem commented on #13
@fjcaetano until now, everything seems to be working perfectly as long as this approach is followed

on initialization, declaring the variable
`private var recaptcha: ReCaptcha? = try! ReCaptcha()`

I have a `recaptchaView` that I hide and show according to whether I want to show the puzzle or not (container), and this is how I handle my actions that need bot detection

[code]

**re-initializing t

[2017-11-30 16:29] #13 closed, assigned to nobody

[2017-11-30 17:21] fjcaetano commented on #13
Reseting the stored `recaptcha` value from within the `validate` closure does seem a bit odd because it'd be freeing the previous value before its closure is completed.

Is the crash you're receiving an exception thrown by the library? Feel free to open another issue with it if you think it's worth it.

[2017-11-30 17:22] fjcaetano commented on #14
@ssathy2 that's nice to know.

@xmidi if you can confirm this fixes it for you as well, I may start working on releasing this fix

[2017-11-30 17:31] ebeem commented on #13
it looked exactly just like issue #7
I think it's reproducible, and causes an exception most of the time

[code]

sadly, the guy who open issue #7 did not provide full code to conclude whether his issue was caused because of late initialization of the recaptcha or not

also, the line that cases the exception is
`let token = try! result.dematerialize()`

[2017-11-30 17:41] fjcaetano commented on #13
Since that's a JS error, it is expected for it to break on `dematerialize` because the lib is capturing the error and sending it in the result.

Nonetheless, there are verifications to start validation only after the requests have finished (since the lib is actually loading the ReCaptcha scripts), but it seems there may be some bug in that verification, since it doesn't fail when the gap between i

[2017-11-30 17:43] ebeem commented on #13
yup, it works perfectly and totally satisfies my use case

[2017-11-30 21:03] xmidi commented on #14
Excellent, works for me too, thanks!

[2017-12-01 12:47] #14 closed, assigned to nobody

[2017-12-12 15:04] Nexmind opened #15 "[BUG] UI API called on a background thread"
[BUG]
Hello,
I'm facing a crash when i initialize my Recaptcha.
`fileprivate let recaptcha = try! ReCaptcha()`

After something like 0.5 secondes, the app crash with  a Main Thread Checker: UI API called on a background thread.

I've no request with ui modification in my viewDidLoad. Maybe you should check if you've not forget to force an UI API call in the main thread on your side ?

I will inves

[2017-12-12 16:27] fjcaetano commented on #15
@Nexmind when and where in the API is the exception occurring? Could you post a full log of the error description here?

[2017-12-12 16:31] Nexmind commented on #15
Hello,
In fact the UI API error message came in the same time than the crash but wasnt the cause.

The cause of the crash was the recaptcha domain in my plist was not correct. I fixed it and now it work perfectly :-)

[2017-12-12 16:31] #15 closed, assigned to nobody

[2017-12-12 16:32] fjcaetano commented on #15
Awesome, glad to know it's working. Thanks

[2017-12-20 23:15] manderson420 commented on #7
@fjcaetano This is still broken on version 1.0.1 for us. iOS 11.0 device iPhone 6 device. This ONLY seems to be an issue on iOS 11.0 so far. We are getting the following error from the ReCaptcha library: ```Error Domain=WKErrorDomain Code=4 "A JavaScript exception occurred" UserInfo={WKJavaScriptExceptionLineNumber=16, WKJavaScriptExceptionMessage=TypeError: undefined is not an object (evaluating

[2017-12-21 14:33] fjcaetano commented on #7
@manderson420 that seems to be a different error. It appears to have been introduced with 78fa352220b698af141964bb64e362c77f49159f, since it fails on `getElementsByTagName("div")[4]`.

Could you open a new issue so we can address this?

Also, as a workaround, could you try removing that line from `recaptcha.html` to check if the issue stops?

[2017-12-22 17:37] manderson420 commented on #7
Sure, I'll open a new ticket with the details I posted 👍

I don't have access to the testing device with iOS 11.0 at the moment but will have an update for you when we're back from the holidays.

[2017-12-22 17:39] manderson420 opened #16 "Javascript Exception"
This is still broken on version 1.0.1 for us. iOS 11.0 iPhone 6 device. This ONLY seems to be an issue on iOS 11.0 so far; not on any minor/major revisions after it. We are getting the following error from the ReCaptcha library: ```Error Domain=WKErrorDomain Code=4 "A JavaScript exception occurred" UserInfo={WKJavaScriptExceptionLineNumber=16, WKJavaScriptExceptionMessage=TypeError: undefined is n

[2018-01-02 05:58] zoewenRB commented on #16
@manderson420 I got the same JavaScript exception, tried to fix it with your solution (remove the line of code you mentioned), but it didn't help. Could you please let me know have you ended up have it resolved?

@fjcaetano what I found different with @manderson420 's findings was: I only get the javascript exception for the first time call of recaptcha on a fresh install, after that `captcha?.val

[2018-01-02 13:39] fjcaetano commented on #16
@manderson420 and @zoewenRB, could you check if the branch `fix/js-exception` fixes it for you?

@zoewenRB, the lib does not reset a ReCaptcha after it has been used or it fails. Google's API has no feature for this, so it's simpler and safer to just initialise a new ReCaptcha object.

[2018-01-03 02:42] zoewenRB commented on #16
@fjcaetano thanks very much for the fix and response, helped a lot. I don't get the javascript exception anymore. Tried to use a new ReCaptcha instance after every time it fails, didn't help with the none recaptcha response issue. So i just set a timer to let it fail after waiting for 30 seconds.

[2018-01-03 13:45] fjcaetano commented on #16
Glad to know that the fix worked for you, though it's super weird that a new ReCaptcha didn't work. Feel free to post more details or open a new issue if you need to. Adding a delay and forcing a failure shouldn't be the solution.

[2018-01-06 01:20] manderson420 commented on #16
Hi @fjcaetano, I will test and let you know. It is a specific device that this seems to fail for us on, so may need to wait until Monday to verify. Thanks for the quick turnaround!

[2018-01-09 19:42] manderson420 commented on #16
Hi @fjcaetano I tested on the device in question and we aren't getting the JS exception anymore on that branch. Thanks for the fix! Is it safe to point our podfile to that branch or are you planning a release/patch soon?

[2018-01-10 13:22] fjcaetano commented on #16
I'll be releasing it now

[2018-01-10 15:05] #16 closed, assigned to nobody

[2018-01-10 16:48] manderson420 commented on #16
Great we will be integrating this soon so will keep you posted if there are any issues.

[2018-01-14 13:24] nvduc2910 opened #17 "Does nothing happend"
I have just test with example but seems to not work. it's loading after press Validate button and I wait a long time but nothing happen. Please check

[2018-01-14 21:28] fjcaetano commented on #17
It is working perfectly for me and for those who recently tested the library.

It's hard to look for anything without any information. Do you have any firewall limitations? Which device are you trying on? Whats the version you're using? Which iOS version are you running? Are you able to see any logs? Have you read and understood the docs?

[2018-01-16 08:24] Majorzhang commented on #17
I have the same problem, it works fine for me last month, but recently it return nothing.

I debug the code below , it seems right now this function does not work so that i can not receive token or error.
func handle(result: ReCaptchaDecoder.Result) {
        switch result {
        case .token(let token):
            completion?(.success(token))

        case .error(let error):
            comple

[2018-01-16 13:16] fjcaetano commented on #17
@Majorzhang are you running on the alternate endpoint?

[2018-01-17 08:59] Majorzhang commented on #17
@fjcaetano , both default  or alternate endpoint does not work ,  Google's API is not blocked.

[2018-01-17 19:20] fjcaetano commented on #17
@Majorzhang and @nvduc2910 could you check if the branch `fix/alternate-endpoint` fixes it for you?

[2018-01-18 19:14] MaximusMcCann commented on #17
Likewise, setup everything.  Call `validate`, but nothing happens.  I added `google.com/recaptcha` to the App Transport Security Settings as well, but still no luck.

Side note, I set the key and domain in the `init` method, but use the default endpoint.

[2018-01-18 19:29] fjcaetano commented on #17
It'd be great to know which iOS versions you are running. I was only able to reproduce it with the `.alternate` endpoint, so if you could provide me an example project where the issue is reproducible, I could dig further into it.

Still, there are changes to the `fix/alternate-endpoint` branch, it'd be great if you guys could checkout. I have added superficial tests to look for the issue I encount

[2018-01-18 22:43] MaximusMcCann commented on #17
@fjcaetano Repeatable every time.

1. run `bundle install` // uses version `1.0.2`
2. set the apiKey and baseURL near the top of `ViewController`
3. Build & run
4. Click the button on screen.  (See code comments in `ViewController` and debug log)

[CaptchaTest.zip](https://github.com/fjcaetano/ReCaptcha/files/1644685/CaptchaTest.zip)

[2018-01-18 22:44] MaximusMcCann commented on #17
Ran with an iPhone 8 Plus Simulator. iOS 11.2

[2018-01-18 22:44] MaximusMcCann commented on #17
Xcode 9.2

[2018-01-19 13:23] fjcaetano commented on #17
@MaximusMcCann are you adding `http` or `https` to the baseURL?

[2018-01-19 13:30] fjcaetano opened #18 "Validation fails when `baseURL` has no protocol"
If the provided `baseURL` has no protocol (http, https, etc), the validation fails silently.

May be related to #17

[2018-01-19 14:53] fjcaetano commented on #17
@MaximusMcCann if your issue was indeed the domain, could you test the branch `fix/missing-url-scheme` and comment the results on issue #18, please?

[2018-01-19 17:25] MaximusMcCann commented on #18
@fjcaetano this was my problem. had to pre-pend "https://"

[2018-01-19 17:36] fjcaetano commented on #18
Cool, this fix does just that. I've also updated the README to make it a little clearer. Thanks for the input. I'll be releasing this soon

[2018-01-19 20:11] #18 closed, assigned to nobody

[2018-01-22 16:45] MaximusMcCann opened #19 "Way to force showing the captcha input view? For testing"

[2018-01-22 18:14] fjcaetano commented on #19
There's no way to force it, mostly because it's using the Invisible ReCaptcha API. Even, if the embedded html were changed to use the explicit one, you'd need to use a different API key for the different methods.

Can I help you with your tests? Maybe what you're trying to do is already covered by our tests.

[2018-01-22 18:16] MaximusMcCann commented on #19
All good then.  Just trying to clean up how some UI looks when the webview is presented.  Had to keep refreshing a bunch, ha.

[2018-01-28 23:10] jacob-greenfield opened #21 "Callbacks"
Shouldn't both endpoints include: `?onload=onloadCallback&render=explicit`?
https://github.com/fjcaetano/ReCaptcha/blob/11818ab4735e607336792bb3cf36e7f8acb8a260/ReCaptcha/Classes/ReCaptcha.swift#L35-L36

[2018-01-28 23:16] jacob-greenfield commented on #21
Nevermind, that's already been changed in PR #20 [right here](https://github.com/fjcaetano/ReCaptcha/pull/20/files#diff-c3cb9e3e2efb2730d08c7e62af04ab39R36). I would merge that, LGTM.

[2018-01-28 23:16] #21 closed, assigned to nobody

[2018-01-29 13:27] #17 closed, assigned to nobody

[2018-02-08 09:05] Majorzhang commented on #17
@fjcaetano  Finally i solved the problem by deleting the old ReCaptchaKey i created before (actually the old key worked in Dec but after a month ago it lost effect), after that i created a new key  to replace the old one and right now it worked.

[2018-02-08 13:48] fjcaetano commented on #17
That's great @Majorzhang. I'm glad to know it's working for you

[2018-03-01 17:12] diegotl opened #22 "Webview content broken on iPhone X"
The webview content breaks if rendered below 43px from the top of the iPhone X. This not related to the webview's width and height. The pictures attached shows reCaptcha webview inside a container view located at `[0, 43]`, which looks fine, and the broken one located at `[0, 44]`.

The weird part is that this is reproducible only on a real iPhone X device. I've tried other iPhones/iPad devices an

[2018-03-01 19:56] fjcaetano commented on #22
If this only happens on iPhone X, it's definitely related to safe area. About your guess, `WKWebView` doesn't have insets, so that wouldn't be it.

When you say it breaks below 43px, does it means that any value for `origin.y > 43` it breaks? Or is it the other way around: `origin.y < 43`?

In which view are you adding the webview? Is it just a regular UIView in your view controller?

Also, just s

[2018-03-01 20:13] diegotl commented on #22
If the webView is rendered on any origin.y > 43 it breaks. It works if rendered below that value and moved to any part of screen, but that's a dirty solution.

I've tried in the current viewController's view, and tried inside a container view (which is inside the current viewController). Got the same behaviour on both.

ReCaptcha itself works, but when it breaks I can't select the options, nor scr

[2018-03-05 21:32] fjcaetano commented on #22
@diegotl I'm having a hard time reproducing this. I'll leave it open, so feel free to post any updates you see fit

[2018-03-05 21:34] fjcaetano opened #23 "Support recaptcha `reset`"
A [`reset`](https://developers.google.com/recaptcha/docs/invisible#js_api) method has been released for the JS API.

This may enable us to stop having to allocate a new instance of ReCaptcha whenever an error occur.

[2018-03-06 11:28] diegotl commented on #22
I'll upload a sample project so you can reproduce it later. Thanks

[2018-03-06 13:14] diegotl commented on #22
@fjcaetano I can't reproduce it again. Maybe it was a bug on 11.3 beta 3 (I'm running beta 4 now) or maybe it was somehow related to some google-side stuff, idk... I'll keep observing for the following days. Thanks!

[2018-03-06 15:42] fjcaetano opened #24 "Retire Result dependency"
Results enums are too simple to require a dependency.

Retire this framework and implement it on the project.

[2018-03-06 18:04] #23 closed, assigned to nobody

[2018-03-06 18:09] fjcaetano opened #25 "Test Rx methods using RxBlocking"
- Rx tests would be more readable
- No need to store DisposeBags on test cases
- Less `expectations`

[2018-03-06 18:11] fjcaetano opened #26 "Use Single on rx.validate"
Since the `rx.validate` method only returns one result, it would be better if it used the Single factory instead of a generic Observable factory.

[2018-03-06 21:48] MaximusMcCann commented on #23
What version will this be in?  Not seeing it in v1.1 :/

[2018-03-06 21:48] MaximusMcCann commented on #23
Ah, just noticed how new this is...

[2018-03-06 21:52] #24 closed, assigned to nobody

[2018-03-06 22:16] fjcaetano commented on #23
@MaximusMcCann yes, this was just implemented 🎉

I'll be releasing this soon. Meanwhile, you can use this by pointing to the `master` branch

[2018-03-06 22:22] MaximusMcCann opened #29 "Validate completion executes more than once; every 120 seconds."
I call `validate(on: view, completion: completion)`.  If I sit there (pretend the user is slow/reading something) the completion continuously calls about every 120 seconds, or, eventually the captcha dialog (img selection) shows up.

ReCaptcha v1.1

[2018-03-06 22:29] fjcaetano commented on #29
I'm not really sure I understood what's going on. Please, correct me if I'm wrong:

Is your `completion` closure being called multiple times when the validation takes over 120s? If so, is it taking a long time to load, or is the app idle on the image selection screen?

How can I reproduce this issue? Should I just wait when the challenge shows up?

[2018-03-06 22:41] MaximusMcCann commented on #29
I click a button that calls validate. The captcha comes back successfully, but if I just sit there eventually it completes again with a new captcha.  And it's every 120 seconds.  This even happens if I call `stop()` as well.  This does not involve the image selection.

[2018-03-07 14:25] #25 closed, assigned to nobody

[2018-03-07 14:25] #26 closed, assigned to nobody

[2018-03-07 16:57] MaximusMcCann commented on #29
Attached is a simple example.  Set your api key and url in the `ViewController` class.  Build + run.  Click the button that says "Click me".  Wait a few minutes and watch the debug logs/label on the app screen.
[ReCaptchaDemo.zip](https://github.com/fjcaetano/ReCaptcha/files/1790067/ReCaptchaDemo.zip)

[2018-03-07 16:58] MaximusMcCann commented on #29
Some example logs:
[code]

[2018-03-07 17:19] MaximusMcCann commented on #29
Additionally, adding `self?._recaptcha?.stop()` after `case .success(let captcha):` does not prevent the continued callbacks

[2018-03-07 17:23] fjcaetano commented on #29
I found the issue, now I'm working on a solution.

Apparently, Google's API keep calling some URL, and the lib is understanding that as a cue to validate again.

Thanks for the input, nevertheless.

[2018-03-07 21:09] fjcaetano commented on #29
@MaximusMcCann could you check if the branch `fix/consecutive-completion-calls` fixes the issue for you, please? It'd be great if you could approve #30 if it does.

[2018-03-07 21:43] MaximusMcCann commented on #29
@fjcaetano Appears fixed.  Here's the total debug logs after 12+ minutes
[code]
Noting the JS Logging is on.

[2018-03-07 21:43] #29 closed, assigned to nobody

[2018-03-08 20:57] augustorsouza commented on #19
Hello guys, I think there is a way to make it appear by forcing a user agent switch. In my tests it worked.

Based on these two links: https://stackoverflow.com/questions/43397678/is-it-possible-to-force-fail-a-recaptcha-v2-for-testing-purposes-i-e-pretend and https://stackoverflow.com/questions/478387/change-user-agent-in-uiwebview-iphone-sdk , I was able to put the following code in my function

[2018-03-08 21:33] fjcaetano commented on #19
Interesting. This does seem to work, but when would it be interesting to show the challenge to the user?

Would this work with a non-Invisible API key? If not, I don't think it would be an interesting addition, since it could cause confusion.

[2018-03-08 21:45] fjcaetano commented on #19
Interestingly enough, it didn't work for UI tests (which I think would be the most reasonable use for this), unless the defaults are set in the main application's AppDelegate as @augustorsouza said.

It'd be interesting to have this working in a `setUp` of a test case, for instance

[2018-03-08 22:10] augusto-souza-movile commented on #19
@fjcaetano some libraries, such as Analytics ones for exempla sometimes have a initialization in the app delegate with some configuration or extra information. Do you think this might be a way to proceed?

[2018-03-08 22:11] augustorsouza commented on #19
@fjcaetano some libraries, such as Analytics ones for exempla sometimes have a initialization in the app delegate with some configuration or extra information. Do you think this might be a way to proceed?

For example, some libs have a debug boolean flag in the initialization

[2018-03-09 14:28] fjcaetano commented on #19
I'm still not sold on **why** would anyone want to explicitly show the challenge.

@MaximusMcCann you were the one who brought this up. Were you just trying to write tests for it? Doesn't the libraries tests cover what you were trying to do?

[2018-03-09 14:57] augustorsouza commented on #19
I think the main reason is that sometimes it is hard to reproduce the behaviour some users of your app will see. When using the invisible API at my network I hardly get a recaptcha input view. With the workaround I described I am able to see the input view and check if there is something wrong in my UI for the user.

[2018-03-09 17:24] fjcaetano commented on #19
Okay, I guess it makes sense to debug the webview position and layout.

Still, this is something that should only be available for development. What do you think of making a boolean public only in `DEBUG` that forces this? Something like:

[code]

This may need to be set in the `init`, then it's another matter.

Luckily, `WKWebView` already has a `customUserAgent` prop, so it doesn't need to be se

[2018-03-09 21:40] fjcaetano opened #31 "Configure webview closure gets called multiple times"
It should only be called once

[2018-03-09 22:08] fjcaetano commented on #19
@MaximusMcCann and @augustorsouza, please take a look at PR #32

[2018-03-12 14:36] augustorsouza commented on #19
@fjcaetano the PR #32 looks great to me 👍 thank you very much for the improvement!

[2018-03-12 15:34] #19 closed, assigned to nobody

[2018-03-12 19:31] #31 closed, assigned to nobody

[2018-03-12 20:42] fjcaetano commented on #23
@MaximusMcCann this has been released with version `1.2` 🚀

[2018-03-15 12:38] yehoshuanagel opened #35 "Endless cycle of executing/resetting"
Hi,

I am trying to use ReCaptcha v1.2 and when calling validate, I get an endless loop of log statements:
[JS LOG]: resetting
[JS LOG]: executing
[JS LOG]: resetting
[JS LOG]: executing
etc etc

Any ideas?

[2018-03-15 13:56] fjcaetano commented on #35
@yehoshuanagel could you try sending `resetOnError: false` and capturing the error thrown?

[2018-03-15 14:05] yehoshuanagel commented on #35
Unexpected Error: Error Domain=WKErrorDomain Code=4 "A JavaScript exception occurred" UserInfo={WKJavaScriptExceptionLineNumber=24, WKJavaScriptExceptionMessage=TypeError: Argument 1 ('target') to MutationObserver.observe must be an instance of Node, WKJavaScriptExceptionColumnNumber=13, WKJavaScriptExceptionSourceURL=<myUrl>, NSLocalizedDescription=A JavaScript exception occurred}

[2018-03-15 14:18] fjcaetano commented on #35
It looks like a duplicate of #7.

Could you check if you have configured the domain and key correctly?

[2018-03-19 07:28] yehoshuanagel commented on #35
All good. Thanks

[2018-03-19 07:28] #35 closed, assigned to nobody

[2018-03-20 12:01] diegotl commented on #22
I think you can close it, I couldn't reproduce it again since then.

Thanks!

[2018-03-20 14:24] fjcaetano commented on #22
Awesome. Thanks for the feedback @diegotl

[2018-03-20 14:24] #22 closed, assigned to nobody

[2018-03-22 16:21] fjcaetano commented on #29
Hi @MaximusMcCann, you've been quite active in the repository lately and I assume that you're using it commercially, so I'd love to know if you're interested in becoming a collaborator of the project and help me maintain it in the long run. What do you say?

[2018-03-28 19:25] MaximusMcCann commented on #29
@fjcaetano Appreciate the consideration!  Not able to take on extra projects at this time though.  As things arise I will certainly help where I can though, cheers!

[2018-03-29 03:10] fjcaetano commented on #29
No problem. Let me know if you ever want to become a contributor.

[2018-04-03 14:08] hamdshah opened #36 "Validate doesn't respond if it's called second time"
If I call the `validate` function for the second time it doesn't respond, the log only says
 `[JS LOG]: executing`
 and the completion is not called waiting forever.

The bug can be reproduce in the "Example" project also, tapping validate button first time works but not the second time.

[2018-04-05 14:37] fjcaetano commented on #36
@hamdullahshah as it happens to the JS lib, you cannot validate multiple times without resetting it. Please, try calling `recaptcha.reset()` in between your validation calls.

[2018-04-27 12:56] hamdshah commented on #36
Sorry for late reply,
I tried and same behaviour with `recaptcha.reset() `.
One thing more that i noticed while testing this that if i call `recaptcha.reset() ` without calling the `validate()` function first,  then it even stuck on first try.

[2018-04-27 19:21] fjcaetano commented on #36
That is super weird. I'm not being able to reproduce it and it will be hard to try and look at anything without more data.

Could you share your logs (without any sensitive data) and/or share a project where this behavior happens?

[2018-04-27 21:03] fjcaetano commented on #36
@hamdshah I may have found something. Could you check if the branch `fix/reset` solves the issue for you?

I'd also appreciate if you could approve PR #37 if everything is good.

[2018-04-27 21:52] hamdshah commented on #36
Just to be sure that I am doing it correct, If I change the function in Example project with the following one it suppose to work right ?

[code]

But it's not working :) I will also try to debug internally if I get some time on weekend.

[2018-04-30 14:14] fjcaetano commented on #36
No, that should not be necessary considering that `setupReCaptcha` creates a new instance, which would be similar to resetting it.

What you could do on the Example project is call `reset` after you receive a token. This way ReCaptcha would be ready to validate again after it has finished the validation cycle.

But if simply changing the segmented control should work regardless of calling ReCaptch

[2018-05-07 14:37] vol24pl opened #38 "WKWebView content is not centered"
When the WKWebView is loaded, the content of the webView is aligned left.

![screen shot 2018-05-07 at 16 38 07](https://user-images.githubusercontent.com/7266741/39707549-0de0a322-5215-11e8-86a3-6fb1627c9f4a.png)

 After Clicking anything that would refresh content (for example circled "i" icon with info), it will center itself.

![screen shot 2018-05-07 at 16 38 27](https://user-images.githubuse

[2018-05-07 16:18] fjcaetano commented on #38
It is indeed weird that the captcha is being centralized after tapping on the info button. But I believe it shouldn't be centralized in the webview by default.

That may not be the case for every user, and you may always reposition the webview in the screen. Have you tried that?

[2018-05-07 19:05] vol24pl commented on #38
Let me explain my setup:

• `captchaView` is a `UIView` made by outlet with hardcoded constraints. It's a  container for `webView`
• inside ` recaptcha?.configureWebView`'s closure there's `webView.frame = self.captchaView.bounds`

Everything is perfectly centered (including `webView` itself) except from a **content** of the `webView`.  Moving `captchaView` to the right so that content in webView

[2018-05-07 21:26] fjcaetano commented on #38
The thing is that ReCaptcha's frame within the webview is always rendered at the same size (as far as I could verify) which is a 302x482 box (if you toggle an utility button, the frame's height might grow)

It looks like you're rendering your `captchaView` with a width larger than 302px. Since you want it centralized, it might be the case of fixing its width in 302px. In that case, your centered c

[2018-05-08 08:39] vol24pl commented on #38
Thanks! So obvious :)
`             webView.frame = CGRect(center: self.captchaView.bounds.center,
                                    size: CGSize(width: 302, height: self.captchaView.bounds.height))`

worked like a charm! You can add some of this informations to the tutorial though (especially default width).

On a sidenote when using carthage with your lib, to use `forceVisibleChallenge` you ne

[2018-05-08 13:37] fjcaetano commented on #38
@vol24pl glad to know it worked. I'll see if it makes sense to document the ReCaptcha's size.

`forceVisibleChallenge` is not available by default by design. It is not something one would normally want to ship with an app. I see it as a "private API" for debugging.

[2018-05-08 13:37] #38 closed, assigned to nobody

[2018-05-09 11:05] vol24pl opened #39 "Language support"
Hi. Could you add forcing language?

All it takes is to add one parameter to endpoint call ("hl"). Maybe as an optional string associated value in the endpoint enum? I can fork and make a pull request if you want to :)

[2018-05-09 12:29] vol24pl opened #40 "configureWebView is called multiple times for no apparent reason (always after reload of a content of the webview)"
ViewController#1 with captcha

[code]

ViewController#2 with webView

[code]

STR:

1. Open VC#1
2. Wait for `configureWebView ` to trigger. It will open VC#2
3. Don't fill ReCaptcha challange, just `dismiss()` this VC#2
4. Wait for about 10 minutes with VC#1 on the screen (I tested it twice with stopwatch at it was 10 mintues +/- 10 seconds both times!)

Expected: Nothing happened
Result: After 1

[2018-05-09 13:36] vol24pl commented on #40
• After waiting 10 minutes and getting this issue, I've waited 15 minutes more to see if there was a 3rd time. There wasn't :)

• In example app from this repo, click validate and wait for 10 minutes. Captcha will dissapear (but it won't trigger `configureWebView` again). I think this is somehow connected to the captcha expiration.

[2018-05-10 10:35] vol24pl commented on #40
`configureWebView` is also called each time I fail to verify captcha. Captcha is reloaded than with "Please try again" message. Why's that? The view is already configured.

**TO SUM EVERYTHING UP**

As far as my understanding goes, `configureWebView` is called each time a **content** of the webView is reloaded (due to a timeout or failing captcha challange). It should be unnecessary, as webView ne

[2018-05-10 19:11] fjcaetano commented on #39
Feel free to open a PR. It will be more than welcome.

[2018-05-10 19:15] fjcaetano commented on #40
It seems the problem might be in the way the JS code is checking if the captcha needs to be displayed. It's simply watching for any mutations in a `div` ([recaptcha.html](https://github.com/fjcaetano/ReCaptcha/blob/master/ReCaptcha/Assets/recaptcha.html#L38)) and that might be too broad.

As I understand, you're being able to use the lib with your workaround, right? I currently don't have much tim

[2018-06-06 20:03] AmriApps opened #41 "is it legal"
I have question, if this recapacha for ios legal?

As Apple terms and google terms ?

[2018-06-07 14:11] fjcaetano commented on #41
I'm no legal expert, but I don't know of any guidelines or terms of usage for both platforms that this framework may be breaking. I believe the biggest concern would be regarding executing arbitrary code, which ReCaptcha *does not*. For all effects, it's simply a WKWebView displaying web content.

I have publicized apps and I know of third party ones that are currently in the AppStore running this

[2018-06-07 14:12] #41 closed, assigned to nobody

[2018-07-12 15:17] #36 closed, assigned to nobody

[2018-07-12 18:31] fjcaetano commented on #36
Hey @hamdshah, sorry for the late late reply. I was able to reproduce your issue, but the solution didn't quite work as expected.

Now, `configureWebView` doesn't get called multiple times, but after 10 minutes, when the update happens, the whole webview goes white without displaying the new content.

I'd love if you could take a look at that and check if the code works for you or what's the behav

[2018-07-12 20:06] #39 closed, assigned to nobody

[2018-07-18 15:26] andrewcookies opened #44 "WKErrorDomain Code=4"
Hi,
I created a simple project, identical to your Example, in which I only setup recaptcha and call the validate function. The UI is made by an empty UIView
I have created API keys and My APIdomain is "localhost", XCode 9.4.
When I start the application the log which appears is :
[JS LOG]: did load
[JS LOG]: executing
[JS LOG]: resetting
[JS LOG]: executing
[JS LOG]: resetting
[JS LOG]: executing

[2018-07-18 17:19] fjcaetano commented on #44
Hi @AndreaGrantu, some things that may be worth for you to check:

1 - Have you registered `localhost` as a valid domain when you created your ReCaptcha key?
2 - Have you tried prepending `http://` or `https://` to localhost?
3 - If not, is the lib throwing a warning in the console that you should do so?

If none of those work, could you provide access to an example project where these may be happ

[2018-07-18 17:24] fjcaetano commented on #40
@vol24pl I was able reproduce the issue and stop it from happening on PR #42. However, when the second `configure` trigger was supposed to happen, the webview is becoming blank and it stops working. I haven't been able to fix that and, to be honest, I don't know if there is a fix.

I'd love if you could take a look at #42 to check what do you think about it and if it works for you like that.

[2018-07-18 22:43] vol24pl commented on #40
Sorry for delayed responses, but my project that used your library is not maintained by me anymore.

I think that webview becoming blank is a proper behavior for captcha that is timed out.

Anyway I’ll try to find time and look into it :)

[2018-07-19 08:37] andrewcookies commented on #44
Hi,
1 - Yes
2 - In my Info.plist I inserted either http:// than https://, but the app
has always the same behavior
3 - There's no lib warning raised

here's my project and also a screenshot of the Google settings page.

Thanks for the support

Andrea

2018-07-18 19:19 GMT+02:00 Flávio Caetano <notifications@github.com>:

[2018-07-19 14:43] fjcaetano commented on #44
This seems to be a duplicate of #7. I'm closing this issue for now, but feel free to reopen it if the fix doesn't work for you.

[2018-07-19 14:43] #44 closed, assigned to nobody

[2018-07-19 14:44] fjcaetano commented on #40
No problem. I'm also not being able to give as much time to this project as needed. I'll leave the issue open for now.

[2018-07-20 20:01] marcio3457 opened #45 "Only 1 Call every 3-5 minutes"
During The implementation, i found a issue and didn't know if was an error in API or just my implementation that was incorrect.

I'm defining the webView in This Function

[code]

And Call that function in a TouchUpInside event of a Button called Consultar.

[code]

 All of this is done before the call to ReCaptcha.validate function from the API(that is called in the callback method for this funct

[2018-07-25 15:27] andrewcookies opened #46 "Install lib"
Hi,
How can I import ReCaptcha trough static way?
Is there any Objective C version of library?

Thanks for the support

[2018-07-25 19:21] fjcaetano commented on #46
I haven't tried creating a static lib for the project. Doesn't the frameworks generated by Carthage work for you? If not, you'll have to clone the project build it manually anyway.

I don't know of any ObjC version of this lib in particular, but you could always try creating a bridging header to ObjC.

[2018-07-25 19:21] #46 closed, assigned to nobody

[2018-07-27 22:40] fjcaetano commented on #45
You need to call `reset` between each call to `validade`, otherwise the old captcha won't be erased.

Feel free to reopen this issue if necessary.

[2018-07-27 22:40] #45 closed, assigned to nobody

[2018-08-12 10:36] SwiftExpert opened #47 "How to add ReCaptchaKeys? there is only android and js examples."

[2018-08-25 00:00] havebeenfitz opened #48 "Invisible ReCaptcha always show images"
Hello, I have some issues with invisible reCaptcha. My keys are in place and everything's working as expected, but it always shows the images instead of passing reCaptcha silently. What could be wrong?

I set my preferences to use Invisible one

I also tried to set the `reCaptcha?.forceVisibleChallenge` to` false ` but it didn't help. Is there an issue with my IP address? I also tried to use a dif

[2018-08-25 00:06] havebeenfitz commented on #47
You should insert them in your info.plist file

[2018-08-27 14:04] fjcaetano commented on #48
@havebeenfitz It's normal for it to show in the first uses. Google's algorithm might take a few iterations to actually start trusting your client as a valid user instead of a bot.

[2018-08-27 14:04] #48 closed, assigned to nobody

[2018-08-27 14:05] fjcaetano commented on #47
@SwiftExpert I'm not sure I follow your question. Did you take a look at the documentation? More specifically the `init` method? http://blog.flaviocaetano.com/ReCaptcha/Classes/ReCaptcha.html#/s:9ReCaptchaAACABSSSg6apiKey_10Foundation3URLVSg04baseF0AB8EndpointO8endpointtKcfc

[2018-09-06 02:41] CaliosD opened #49 "Support for Swift 4.1"
I've got an error of `/Carthage/Build/iOS/ReCaptcha.framework/ReCaptcha compiled with older version of Swift language (4.0) than previous files (unknown ABI version 0x06)` after intergrating this repo into my project with Carthage.

Would you please rebuild it and support this new version of Swift? Thanks in advance.

[2018-09-06 17:00] fjcaetano commented on #49
@CaliosD have you tried telling Carthage to explicitly build the dependencies instead of relying on cached binaries?

`$ carthage update --no-use-binaries`

[2018-09-06 17:58] #40 closed, assigned to nobody

[2018-09-07 05:57] CaliosD commented on #49
@fjcaetano Yep, I've cleared up the downloaded binaries and update it again. And it's the same.

[2018-09-07 23:58] fjcaetano commented on #49
@CaliosD this is not an issue with the library. The binaries Carthage might be caching may have been compiled with a different Swift version than required by users. In these cases, you should tell Carthage to build the dependencies instead of relying on downloaded binaries.

We have just published a new release, however, I'd advise you to take a closer look at Carthage's output since it's supposed

[2018-09-07 23:58] #49 closed, assigned to nobody

[2018-09-10 10:49] Przemyslaw-Wosko opened #51 "Bypasssing captcha in UITests"
In case where we want to use ReCaptcha in app, then test it with UITests, i think there was no way to "stub" capatcha, to complete for instance sign in flow then make something else in app.

I created a PR for that #50

What do you think about this idea? i'm open to changes

[2018-09-10 18:21] fjcaetano commented on #51
Great suggestion. This is definitely something I'd like to see merged. I left a few comments on your PR, nothing major.

[2018-09-22 11:34] hqy2000 opened #54 "Webview does not disappear after success in UITableView"
The recaptcha does not disappear when triggered from a button inside a UITableViewCell of a UITableView after success. It blocks the whole view totally. The result callback is called successfully.

The code to setup the recaptcha is almost the same as the one provided in the readme. I only change the CGRect part to move it lower to prevent it from blocked by the UINavigationBar.

[code]

Maybe add

[2018-09-22 11:41] hqy2000 opened #55 "Alternate endpoint not working"
When using the alternate endpoint, calling validate will result in nothing. Validate method is also not working. Nothing is logged.

It seems that js script provided by the alternate endpoint is different from that provided by the normal endpoint? Maybe a bug from Google?

[2018-09-22 13:56] hqy2000 commented on #54
Got the solution from #13

[2018-09-22 13:56] #54 closed, assigned to nobody

[2018-09-26 18:37] fjcaetano commented on #55
Hi @mmlmml1 things seem normal on my end. Could you provide more info on what's going on? Maybe some logs and error messages being thrown?

[2018-09-27 09:33] nbob opened #56 "Validate method does not work"
Hello
I am using ReCaptcha v1.3.1 and my `validate` calling has no effect.

Steps to reproduce:
1. In `didLoad` I create my ReCaptcha instance in Controller
2. Call `validate` method
3. Don't see a WebView widget with google recaptcha quiz

Also I noticed that if I comment [this if statement](https://github.com/fjcaetano/ReCaptcha/blob/master/ReCaptcha/Classes/ReCaptchaWebViewManager.swift#L237) i

[2018-09-27 14:30] fjcaetano commented on #47
Closing due to inactivity

[2018-09-27 14:30] #47 closed, assigned to nobody

[2018-09-27 18:20] #51 closed, assigned to nobody

[2018-09-28 20:16] fjcaetano commented on #56
Hi @nbob, we need a bit more info to try and assess what may be going on here. The widget won't necessarily appear because it may be resolved "invisibly", therefore, have you checked if you're not receiving the token?

If not, what is happening? Nothing? Does the app simply halt? You mentioned that commenting a line of code has the desired effect, but were you able to receive the token after that?

[2018-10-05 13:28] hqy2000 commented on #55
Tried for several times, still no output.
I will try to set breakpoints to check it later

[2018-10-05 15:00] nbob commented on #56
Sorry for a long response
My code is almost the same as example code.

[This is my controller](https://gist.github.com/nbob/bcc248aef9bf7ca78e1c97f15dc719cc)

I have a layout only with a single button and handle a Tap Up event with `printHello` method.
In this method I call a `recaptcha.validate`, but don't see grecaptcha widget and as result can not get a grecaptcha result.

You may check my logs

[2018-10-22 02:16] hqy2000 commented on #55
Still not clear what happened. But it is working now.

[2018-10-22 02:16] #55 closed, assigned to nobody

[2018-11-05 18:15] tzahgr opened #57 "Challenge always gets displayed"
Looks like the challenge always gets displayed.
Is this intentional?
If not, do you know why?

[2018-11-06 20:08] fjcaetano commented on #57
@tzahgr That might be expected since ReCaptcha may not be able to automatically assess whether or not the user is a client. Usually, after some time it starts resolving invisibly.

I'll close this since it doesn't seem to be an issue, but feel free to reopen if you feel you should.

[2018-11-06 20:08] #57 closed, assigned to nobody

[2018-11-07 16:10] maxxx777 opened #58 "Change version of RxSwift dependency in podspec"
Hello,
We are migrating our project from Swift 4.1 to Swift 4.2.
The project and all its dependencies (except ReCaptcha) are using RxSwift 4.4.0. The problem is ReCaptcha 1.4 can not use version 4.4.0 of RxSwift because of `rx.dependency 'RxSwift', '~> 4.3.1'`
May it be replaced with e.g. `rx.dependency 'RxSwift', '~> 4.3'`? (ReCaptcha has no conflicts with RxSwift 4.4.0)

Please let me know if I

[2018-11-08 16:32] fjcaetano commented on #58
Hi @maxxx777, thanks for the heads up. That seems like a simple enough fix. Do you want to try and tackle that with a PR?

[2018-11-08 23:47] maxxx777 commented on #58
@fjcaetano thanks for the reply, just did the PR.
Please let me know if I should update changelog file.

[2018-11-12 16:15] #58 closed, assigned to nobody

[2018-11-12 16:36] fjcaetano commented on #56
@nbob sorry for the looong delay to reply.

It seems you're using the wrong `baseURL`. You should setup the same url/domain that is configured with your ReCaptcha key in Google's admin: https://www.google.com/recaptcha/admin

If this still doesn't solve your issue, it might be the case where we need a better algorithm to detect if ReCaptcha has already finished loading.

[2018-11-13 21:02] egv commented on #56
We are having the same issues here, baseURL is ok, but from time to time recapthca is unable to detect if it is loaded.

Any ideas where we should start digging?

[2018-11-14 13:18] filip-a commented on #56
I have 2 test devices, both of them running iOS 12.1. One is an iPhone XS and the second is a 7 Plus.

It works perfectly on the XS, but on the 7Plus it doesn't.

Even tried running the example project directly without any success on the 7Plus. Any ideas?

[2018-11-14 14:57] egv commented on #56
Well, for me using new `ReCaptcha` object for each request did the trick. It failed when I tried to use one `ReCaptcha` for each request with `resetOnError` set to `true`. In that case I was seeing executing / resetting messages from js in console all the time.

[2018-11-14 16:44] fjcaetano commented on #56
So, this is the reasoning behind that request logic:

After configuring the webview, we need to wait for its resources to be loaded before calling `validate`, otherwise the call to the JS function will be lost. The approach used to figure out if all resources were loaded was by monitoring the webview's requests and responses. However, it does load the same resource more than once, that's why we ha

[2018-11-14 17:19] egv commented on #56
I think I will be able to do this in the next couple of days myself or assign it it to someone on my team

[2018-11-16 10:11] andrewcookies opened #60 "White page on offline validation"
Hi,
I'd like to ask if it is possible to remove recaptcha web view even if the validation does not return a token.
In my particular case, before pressing 'verify' button I turned off my connectivity. The result is a white screen which is impossible to remove.

Thanks for the support,

Andrea

[2018-11-16 14:44] fjcaetano commented on #60
Hi @AndreaGrantu. The webview should never appear without `configureWebView` being called. Is that happening? If so, it is an issue we need to work on.

If `configureWebView` is being called, you have a reference to the webview there, which you can save and remove it, if necessary.

Also, have you tried calling `reset`? I haven't tried, but it should do the trick of "wiping" the webview for you.

[2018-11-16 15:05] andrewcookies commented on #60
Hi,
I explain myself in a better way:

if let r = recaptcha {
         r.validate(on: view) { result in
               //(A)

 }
  }

if I turn off wifi  when I'm in the recaptcha view before pressing 'validate', the code does not return in (A) section, so I cannot do anything with my view.

![screen shot 2018-11-16 at 4 04 23 pm](https://user-images.githubusercontent.com/28670557/48629240-6951f30

[2018-11-16 18:52] fjcaetano commented on #60
@AndreaGrantu I tried reproducing it on a simulator and everything worked as expected:
- If I turn wifi off after the resources have been loaded and call `validate` everything works as expected.
- If I turn off the wifi before resources have been loaded, the webview doesn't show up at all.

So here are a couple of things to look at:
1. Is your view configured correctly? Does it work in a perfect s

[2018-11-20 13:47] andrewcookies commented on #60
Hi,
My Answers:

Is your view configured correctly? Does it work in a perfect scenario?   **YES**
Are you able to remove the view if necessary?  **YES**
Are you manually showing the webview? You shouldn't do that. **No, I call only validate, after the setup, as in your example**
Are you receiving any errors in the callback of ReCaptchaWebViewManager.execute? **NO**
If none of the above help you, t

[2018-11-26 18:46] fjcaetano commented on #60
Hi @AndreaGrantu, I'm still having a hard time reproducing this issue. Are you able to make it happen in the Example project? If so, could you provide the step-by-step?

If you can't reproduce it in the Example app, could you provide a repo or a zip with a project where the issue happens?

[2018-11-26 20:45] fjcaetano commented on #56
@egv I came up with a solution around `WKWebView.estimatedProgress` on PR #61 could you try checking out the branch to see if that solves your issue?

[2018-11-26 20:46] fjcaetano commented on #60
More on the matter, @AndreaGrantu I applied some changes to how the library detects the loading of resources on PR #61, could you try checking out that branch to see if that fixes your issue?

Nonetheless, I'd still appreciate if you could provide a reproducible example of your issue so there are unit-tests for it.

[2018-11-27 10:20] Eddiegooo opened #62 "Can you support the objective-c language?"
Or Is there a library of objective-c versions?

[2018-11-27 13:00] fjcaetano commented on #62
Hey @Eddiegooo, you **should** be able to use the library in ObjC using a bridging header. Are you running into any errors? If so, feel free to open an issue with those.

I don't know of any ObjC alternatives and, tbh, it doesn't make sense to either migrate the lib to ObjC, considering you should be able to use it.

I'm closing this issue because it seems there's nothing left to do here, but feel

[2018-11-27 13:00] #62 closed, assigned to nobody

[2018-11-28 03:38] Eddiegooo commented on #62
My project was used ObjC, i can not use this repository directly.
use a bridging header  do not work either;

so i want a pure ObjC repository.

[2018-11-28 07:27] Eddiegooo commented on #62
My project used ObjC, i can not use this repository directly.
use a bridging header do not work either;

so i want a pure ObjC repository.

[2018-11-28 13:45] fjcaetano commented on #62
Is the library raising any issues with your bridging header?

[2018-11-29 09:40] aalenliang commented on #60
@fjcaetano for me it works.

[2018-12-06 17:53] #56 closed, assigned to nobody

[2018-12-06 17:58] fjcaetano commented on #60
I'm closing this since PR #61 has been merged.

[2018-12-06 17:58] #60 closed, assigned to nobody

[2019-01-17 10:58] fjvaldera opened #63 "Visible challenge appearing to nearly 50% to our users."
## Bug description
We are getting an unusually high amount of user seeing the visible challenge in iOS. In Android (enabled in all countries except China) the amount is about 4% (taking into consideration that their library is native), in web (enabled in all countries) we have about 30% but in iOS (enabled only in Turkey) that number goes up to nearly 50% of users seeing the visible challenge.

Al

[2019-01-17 13:14] fjcaetano commented on #63
Hi @fjvaldera, that is interesting and does sound off. Unfortunately, I don't have access anymore to the analytics of any production apps using ReCaptcha to benchmark your data against.

Nonetheless, Google's API _should_ only show the challenge when it can't assess if the user is a bot or not. I don't know the captcha frequency in your audience's regular apps, but if it doesn't appear often, it c

[2019-01-24 10:30] fjvaldera commented on #63
Hello @fjcaetano and thank you for your response.

We do show the captcha on login/registration only, since is the only place where it makes sense for our use since this is the first step users do in our app.

Adding captcha in other places is not an option for us, since it will disrupt the user experience too much.

We will get in contact with Google's support as you suggested and will keep you u

[2019-01-28 14:41] JeanAzzopardi opened #64 "Force Recaptcha to show from Carthage library"
## Bug description
First, thanks for the library, I'm finding it quite useful. However, there's a little flaw in that I'm unable to trigger forceVisibleChallenge since I'm using it as a carthage dependency.

Since Carthage by default compiles code in release mode, this code will not be available:

[code]

Is it possible to replace this behaviour with a bool flag (enableDebug) on init? e.g. as refe

[2019-01-28 18:24] #64 closed, assigned to nobody

[2019-01-28 18:26] JeanAzzopardi commented on #64
Resolving this issue as we can simply use `carthage build --configuration Debug`  as mentioned in https://github.com/fjcaetano/ReCaptcha/pull/65#issuecomment-458208772

[2019-02-15 10:45] antons81 opened #66 "Captcha not appear at all"
## Bug description
I have implemented reCaptcha as shown on readme and it doesn't appear at all. in console logs, I see did load, executing resetting, but nothing appears. I have created recaptcha v2 Invisible type.

Update: While I am checking reset to false. It's started to enter inside Clojure, but falling with error unexpected

## Expected behavior
webview with captcha should be opened

## Log

[2019-02-16 22:32] fjcaetano commented on #66
@antons81 are you able to run the Example app? Also, have you tried the alternative endpoint?

[2019-02-18 03:27] antons81 commented on #66
@fjcaetano thanks for the response. Yes on example project working. I tried your key from sample project and it started to work on mine. But I want to use my own key. another issue. webview not disappeared, when I successfully passed captcha

[2019-02-19 18:22] fjcaetano commented on #66
@antons81, it looks like you might have configured something wrong. Please, double check your keys and domain. Follow the same steps as if you're configuring a website.

If there's anything else I can help you with, let me know. I'm closing the issue for now since it doesn't seem to be related to the library.

[2019-02-19 18:22] #66 closed, assigned to nobody

[2019-02-22 15:51] edAtRei opened #67 "ReCaptcha webview stuck at loading"
## Bug description

When trying to integrate in my app, after setting up and invoking validate, the 'execute' never gets executed because in `ReCaptchaWebViewManager.execute()`, the "didFinishLoading" variable is always false, so the execute command gets skipped.

I tried the example project to see if I could repro there. I am seeing something similar with the example project, with a caveat. When

[2019-03-03 18:49] fjcaetano commented on #67
@edAtRei consecutive calls to `validate` are not supported. You need to either instantiate a new ReCaptcha object or call `reset` in between calls.

I'm closing this issue since it doesn't seem to be an actual problem. Feel free to reopen it if you need.

[2019-03-03 18:49] #67 closed, assigned to nobody

[2019-03-20 13:15] elodd opened #69 "Javascript exception occurred"
ReCaptchaDomain is ```http://localhost/```, but at validate the webview is interrupted with a Javascript exception expecting ```ReCaptchaDomain``` in the html?

[code]

[2019-03-20 14:02] fjcaetano commented on #69
Hi @elodd, I just merged PR #68, which adds some documentation to README explaining that when generating your ReCaptcha key you must uncheck `Verify the origin of reCAPTCHA solutions` when using `localhost` as the domain.

![image](https://raw.githubusercontent.com/rachitmishra/ReCaptcha/patch-1/example-verify-domain.png)

Could you give that a go and let me know if it works?

[2019-03-22 06:49] elodd commented on #69
Hi @fjcaetano, even though
1. 'Verify the origin of reCAPTCHA solutions'
1. ReCaptchaDomain is localhost on the device
1. ReCaptchaKey is registered for a Google reCAPTCHA v2 Invisible
Sometimes the above Javascript still happen.

[2019-03-26 17:03] fjcaetano commented on #69
Hey @elodd, were you able to solve this? Is there anything we can do to improve the library?

[2019-03-26 20:42] JulioBBL opened #70 "Intermittent Error"
I get two different outcomes, seemingly at random, at times all go as planned, but other times i get the error `Unexpected Error: Error Domain=WKErrorDomain Code=4 "Ocorreu uma exceção JavaScript" UserInfo={WKJavaScriptExceptionLineNumber=24, WKJavaScriptExceptionMessage=TypeError: Argument 1 ('target') to MutationObserver.observe must be an instance of Node, WKJavaScriptExceptionColumnNumber=13,

[2019-03-27 21:28] fjcaetano commented on #70
Hey @JulioBBL, this seems like it may be an error with the [embedded HTML](https://github.com/fjcaetano/ReCaptcha/blob/master/ReCaptcha/Assets/recaptcha.html#L38).

Do you have any way of reproducing it?

[2019-03-27 21:53] JulioBBL commented on #70
If i create the ReCaptcha object, setup the we view configuration callback and validate all in rapid succession, I get this error.

Upon further testing i figured if there is a delay before validating, no error is produced, so i made a *executive decision* to force a 2 seconds delay between calls

(Gambiarra e tal)

I can only assume there is a delay somewhere handled by another thread.

[2019-03-28 07:58] elodd commented on #69
Hi @fjcaetano,

No, unfortunately not, but minimised failure occasions by doing a redundant call for the ```setupReCaptcha``` functions when the above error occurs and maximised recapture security but always showing visual challenge.

When:
1. ```ReCaptchaKey``` is confirmed the same when registering and in the app.
1. ```ReCaptchaDomain``` is registered as ```localhost``` and ```http://localhost`

[2019-03-28 14:20] fjcaetano commented on #70
Are you using `localhost` as the domain, by any chance?

Btw, I'll close this because it seems to be a duplicate of #69.

[2019-03-28 14:20] #70 closed, assigned to nobody

[2019-03-28 14:23] fjcaetano commented on #69
I'll investigate this further. I've just closed issue #70, which was a duplicate of this one.

The error there seemed to be because `validate` was being called too quickly, so it might be an issue with the logic that checks if all the JS resources were loaded.

A workaround was to add some delay before validating. Could you check if that minimizes the issue for you? Also, is this issue only happen

[2019-03-28 14:27] fjcaetano commented on #63
Hey @fjvaldera how are you? Do you have any updates in this matter? Are your numbers still high?

[2019-03-28 14:27] JulioBBL commented on #70
nope, using my own domain.

[2019-03-28 16:03] JulioBBL commented on #70
i am sorry, i just now realised that i have provided you the wrong error message, this is the one i get:

`ERROR: TypeError: undefined is not an object (evaluating 'document.getElementsByTagName("div")[4].outerHTML = ""')`

only found out when you marked it as duplicate

[2019-03-29 07:47] elodd commented on #69
My understanding that since the token key is created on the mobile phone and not on a website or dns I need localhost for security reasons.

[2019-04-04 17:13] fjcaetano commented on #69
@elodd you're free to use any domains you want, that's why the property is configurable. Did you try adding the delay I mentioned?

Using this library is a three-step process:
1. Load the library (by initializing it)
2. Configure the view (this may or may not be executed, depends on the JS code)
3. Validate the challenge

Ideally, you shouldn't try and execute all three at once. If that's what you

[2019-04-04 17:37] fjcaetano commented on #69
Are you by any chance using ReCaptcha v3? It looks like v3 is causing many issues with the library. If possible, please, try and use a v2 Invisible ReCaptcha key.

I'll look into adding support for v3 keys.

[2019-04-04 17:38] fjcaetano commented on #70
@JulioBBL are you by any chance using ReCaptcha v3? That seems to be causing many issues with this library.

If that's your case, please try using a **v2 Invisible** key. I'll look into adding support for v3 keys soon

[2019-04-06 10:34] Przemyslaw-Wosko opened #72 "No callback from ReCaptcha"
Hi,
Currently we are using this library for Google ReCaptcha in apps, for now in development state.
While this library was integrated for long time and just now ( like week ago ) we started to have issues with this library.
I thought that this was fault of our code / configuration, but after debugging i found that in some cases user is stuck on sign in / sign up because of no response from ReCaptc

[2019-04-07 07:48] elodd commented on #69
I used a ```v2 Invisible ReCaptcha key``` and a delay did not help.

[2019-04-09 15:42] NosovPavel commented on #72
I have the same behaviour and similar flow. My app is using 1.4.0 version and it's working but not all the time. I tried to update to latest 1.4.2 but it didn't solve the problem.

[2019-04-09 21:49] fjcaetano commented on #72
@Przemyslaw-Wosko and @NosovPavel, please, set `resetOnError: false` and paste the error you're receiving here.

[2019-04-10 07:52] smokyfire commented on #72
Same for me, exactly what @NosovPavel said. Sometimes I get no callback from the validate() method.

[2019-04-10 19:23] fjcaetano commented on #63
Closing for inactivity

[2019-04-10 19:23] #63 closed, assigned to nobody

[2019-04-10 19:47] fjcaetano commented on #72
A few things to bare in mind:
1. `reset()` must be called in between validates. If you try to validate twice in a row, it won't work
2. `resetting` is being logged because `validate(on:)` is being called with `resetOnError: true`, which is the default if you don't pass it.
3. Since reset is being called, it doesn't throw the error it's receiving.
What do you need to know in regards of the document

[2019-04-10 19:56] fjcaetano commented on #69
@elodd I was able to reproduce that issue by registering a wrong key or domain. Could you double check that on your side? Also, please check if you're using Google ReCaptcha's **SITE KEY** for the client side integration.

[2019-04-10 19:59] elodd commented on #69
@fjcaetano Sorry I moved on working with a different project.

[2019-04-10 19:59] #69 closed, assigned to nobody

[2019-04-11 11:57] NosovPavel commented on #72
@fjcaetano thanks for your reply, I made few changes in my project with `reset()` but it didn't help. So there is [short video](https://drive.google.com/file/d/19iiAuJL5ZHVptkviWSFUGqnaQDgiY0Gs/view?usp=sharing) with an example of this repository that didn't work as I expected and the [source code ](https://drive.google.com/file/d/1uifxOQ7QYT0VUyb0X0lfWjk6AsPWDQRL/view?usp=sharing) (it's the same

[2019-04-11 17:45] fjcaetano commented on #72
Thanks @NosovPavel, I was able to reproduce the issue in the project you gave and I'm investigating it. Also your video was really helpful! Good stuff

[2019-04-23 08:10] Przemyslaw-Wosko commented on #72
@fjcaetano any news? can we help you somehow with that?

[2019-04-23 17:06] fjcaetano commented on #72
@Przemyslaw-Wosko I'm sorry for halting this. I'm currently with little time to focus on any open source project. Any help with this project is appreciated.

I was able to narrow the issue down to the logic that checks if all resources have already been loaded before triggering the JS validation. I have some WIP code in the branch `fix/resource-validation` that should already be improving the situ

[2019-05-30 17:28] fjcaetano opened #74 "HELP WANTED - Contributors needed"
Due to personal and professional issues, I'm no longer being able to give the necessary attention this project requires.

If you're using this library in a production app or have regular contact with it, your help triaging issues and responding to the community would be much appreciated. If you want to be hands-on with the code and help with bugfixes and new features, even better! All help is welc

[2019-06-28 20:17] fjcaetano commented on #72
Folks, I just deployed version 1.5.0 with the new resource validation logic. I also added a new feature: there's now a callback on didFinishLoading so you can list to it.

I know this is boring and cumbersome, but I'd really like to hear your feedback on it. This should ease development if you're having any issues related to the loading of resources.

[2019-07-02 06:59] cyber-gh commented on #72
Same issue here, but I am unable to update to version 1.5.0 from cocoapods. Is the new version live yet ?

[2019-07-02 14:18] fjcaetano commented on #72
@cyber-gh sorry, there was an issue with the deploy to CocoaPods, please try again, everything should be fine now.

[2019-07-03 05:50] cyber-gh commented on #72
Seems to be working now. Thanks.

[2019-07-04 17:08] fjcaetano commented on #72
Does this means the issue has been fixed?

[2019-07-08 08:57] MalcolmScoffable opened #77 "Intermittent WTF::HashTable Bug"
## Bug description
We've noticed the following intermittent crash for a small number of our users since starting to use the ReCaptcha library in our app:
<img width="1244" alt="Screenshot 2019-07-08 at 09 51 38" src="https://user-images.githubusercontent.com/24914554/60797033-74cf7580-a166-11e9-9f7c-4c2186936c8c.png">

We haven't been able to reproduce this on either our own devices or simulators,

[2019-07-14 09:29] cyber-gh commented on #72
Yes, the issue has been fixed. Sorry for late response.

[2019-07-15 19:23] #72 closed, assigned to nobody

[2019-07-15 19:31] fjcaetano commented on #77
That does seem to be a bug related to WebKit. I honestly have no idea of what could be going on there since I've never seen that error before. Let me know if you find any way to reproduce it and in what types of device that is happening.

Meanwhile, I'd advice you to keep an eye in [WebKit](https://github.com/WebKit/webkit) and their [Bugzilla](https://bugs.webkit.org/query.cgi?format=specific&pro

[2019-07-15 19:31] #77 closed, assigned to nobody

[2019-08-14 16:25] ralphcorleone commented on #62
@fjcaetano
Only add this to ReCaptcha.swift
`@objc
public class ReCaptcha : NSObject {`

[2019-08-21 20:16] fjcaetano commented on #62
@ralphcorleone as I said before, it doesn't make much sense to officially support Objective-C compatibility, specially considering the current state of Swift vs ObjC.

That said, you're always free to add support to your own fork and manually install the library in your project with the `NSObject` inheritance, if that's what you need.

[2019-10-03 23:20] devsaider opened #78 "Usage of arrow functions breaks functionality on <ios 10"
## Bug description
Usage of arrow functions in recaptcha.html breaks iOS 9 support because safari in iOS 9 doesn't support arrow functions in js and maybe something else.
https://caniuse.com/#feat=arrow-functions

## To Reproduce
Steps to reproduce the behavior:
1. Run example app (v1.5.0) on any simulator with <ios 10 (ex. iOS 9)

## Expected behavior
recaptcha.validate() method to work or didFin

[2019-10-22 14:55] fjcaetano commented on #78
Good catch. Do you think you could work on a PR for this?

[2019-11-04 14:02] fjcaetano commented on #78
@devsaider I just opened PR #80 with a possible fix.

Could you point your Podfile to the branch `fix/arrow-func` and check if that fixed your issue?

[2019-11-11 22:58] Hovig90 opened #81 "ReCaptcha.validate() hangs while user tries to login"
## Bug description
We are experiencing issues while ReCaptcha tries to validate the API key, the `validate(on:resetOnError:completion:)` method hangs without any response and our users are stuck on the loading page of our app, this issue is happening intermittently but initially we were experiencing it on iOS 10.2 and bellow but lately all of our devices with different OS version are encountering

[2019-11-12 14:00] fjcaetano commented on #81
Hi @Hovig90, I understand intermittent errors are hard to reproduce, but if you're able to provide more information (perhaps an example project), it'll be simpler to investigate it.

Meanwhile, I'm working on some changes related to running the project on iOS < 10 on PR #80. It shouldn't affect you since your target SDK is 10.2, but just for safe-keeping, could you try pointing your Podfile to the

[2019-11-19 17:19] #78 closed, assigned to nobody

[2019-11-21 04:25] phamduc0810 opened #82 "Webview was not showed."
The web view doesn't appear. I push break point into
`recaptcha.configureWebView { [weak self] webview in
            webview.frame = self?.view.bounds ?? CGRect.zero
}`
but it did not come in the break point.

[2019-11-21 06:54] #82 closed

[2019-12-12 18:03] fjcaetano commented on #81
Closing due to inactivity

[2019-12-12 18:03] #81 closed, assigned to nobody

[2019-12-18 16:44] farhanjailani opened #84 "Image not found Error"
## Logs
dyld: Library not loaded: @rpath/ReCaptcha.framework/ReCaptcha
  Referenced from: /Users/FarhanJailani/Library/Developer/CoreSimulator/Devices/3A2432DE-F89C-49E6-A56F-E81FF0FF639E/data/Containers/Bundle/Application/ACFEFED4-3AE7-401F-84DD-D0283F8E2718/Goomo.app/Goomo
  Reason: image not found

## Additional context
I am using Carthage for installing the framework.

[2019-12-19 07:11] farhanjailani commented on #84
Found the issue, I did not copy the framework in the build phase of the app.

[2019-12-19 07:11] #84 closed, assigned to nobody

[2020-03-28 11:16] antonioromano opened #86 "Simulator pass the validation"
I dunno if it Is a bug, but testing on the simulator it passes the validation.
Since it passes the validation, which checks are running? What are the benefits if it always passes?

[2020-03-28 23:32] fjcaetano commented on #86
@antonioromano the library is just an iOS friendly interface for Google ReCaptcha. All the validation is handled by Google ReCaptcha, the library just allows access to it.

[2020-03-28 23:32] #86 closed, assigned to nobody

[2020-04-08 07:11] sergeydi commented on #66
@antons81 Hi, I have the same issue, do you found how to solve it?

[2020-05-23 12:27] Adhith11 opened #87 "Didn't get callback from Validate() if there is no token"
Hi Flávio Caetano,

We are using reCaptcha invisible v2 in one of our iOS application which is built with swift 5.
I had integrated version 1.5.0 with cocoapods.

My Issue is that, At times I don't get call back from reCaptcha in validate() function. This occurs only when the tokens are not retrieved from reCaptcha

I'm not sure why tokens are not retrieved.

Can you help me with this.

Thanks in

[2020-05-25 09:47] Adhith11 commented on #87
@fjcaetano Can you help me resolving this issue

[2020-05-25 15:59] fjcaetano commented on #87
Hi @Adhith11, I need a bit more info than that to try and figure out what might be going on.

For starters, has the library ever worked? Were you able to retrieve a token, at least once? Were you able to show the challenge so the user can fill the question?

[2020-05-25 16:27] Adhith11 commented on #87
Thanks for responding @fjcaetano

The first point is, we are able to retrieve the token most of the time we attempt, but at some case token is not retrieved. When it is not retrieved, it will not retrieve continuously for a long time.

The second point is that we use invisible challenge so there is no need for the user to verify.

Hope you are clear with the issue now.

[2020-05-25 18:34] fjcaetano commented on #87
It seems there's some misunderstanding on how the invisible challenge works. I advise you to please read Google's documentation thoroughly. If the recaptcha algorithm deems the user not to be a real person then the challenge needs to be shown.

Your issue seems to be because you're either not calling `configureWebView` or improperly configuring the webview to be displayed.

I'm closing the issue b

[2020-05-25 18:34] #87 closed, assigned to nobody

[2020-05-25 18:36] fjcaetano commented on #87
From the ReCAPTCHA docs:

https://developers.google.com/recaptcha/docs/versions

[2020-05-25 21:47] Adhith11 commented on #67
Thanks @fjcaetano, I got it working.

[2020-05-28 07:17] PiPyL opened #88 "Error Value of type 'ReCaptcha' has no member 'forceVisibleChallenge'"
Hello. I meet a issue. It happen when I archive app. It will show error Value of type 'ReCaptcha' has no member 'forceVisibleChallenge'. While I build run test on simulator or real iphone is OK.

[2020-05-28 20:46] fjcaetano commented on #88
The `forceVisibleChallenge` is only available in DEBUG builds. You shouldn't be using it in a production application because it defeats the purpose of the Recaptcha being invisible

[2020-05-28 20:46] #88 closed, assigned to nobody

[2020-05-29 01:30] PiPyL commented on #88
So when I release my app, the recaptcha will automatically show images to the user to verify, I don't need to set anything to make it show images?

[2020-05-29 21:05] fjcaetano commented on #88
I'm not sure what you meant. You do need to configure the library properly in order for it to work.

The `forceVisibleChallenge` is only meant to be used in development, not in production.

[2020-05-30 13:28] yildirimatcioglu opened #89 "How to print errors"
When using with example projects site key and domainURL its working but in our site key and domainURL its not working. How can I get to errors? There is no error on console.

[2020-05-30 22:30] fjcaetano commented on #89
Errors are thrown upon initialization and in `validate`'s callback.

It looks like your issue might be a duplicate of #7 and #35. I'd also suggest you to thoroughly read the [full documentation](http://blog.flaviocaetano.com/ReCaptcha/) since it explains how to acquire keys and setup the library

I'm closing this for now, but feel free to reopen it if you think it's unrelated to those issues.

[2020-05-30 22:30] #89 closed, assigned to nobody

[2020-05-31 14:33] yildirimatcioglu opened #90 "reset func appear endless resetting."
When I call reset func after a successfull validation, it gives an endless resetting output.
Here is the output on console:
[JS LOG]: executing
[JS LOG]: resetting

I try to open for a new validation. Before the second validation call I call reset func and here is the output.
Also, example project don't work second time.

[2020-06-02 08:43] vaverkax opened #91 "Running on latest iOS"
Hi there!
I have a problem with running this pod and even the example project.
Firstly I've tried to configure pod with my own key and domain( I've check them in project for several times). No luck. I've stacked at func validate and discovered that my webView is not configured.
So then I've tried to run the example project.Did the same thing(changed key and domain to my own). But still no luck.
Wh

[2020-06-09 17:51] fjcaetano commented on #91
Hi @vaverkax, I just tried running the example project on an iPhone 11 simulator running iOS 13.3 and it worked as intended.

That logging (with prefix `WF:`) is not standard on the library? Could there be another library interfering with WebKit?

I'd recommend you to please try running the Example project. It usually indicates wether or not there's an actual issue with the library. It usually ind

[2020-06-09 17:54] vaverkax commented on #91
I’ll try as you said, but that’s log is from example project from repo. I must be mistaken somewhere...
Anyway thanks for reply! Maybe I’ll find something after investigating

[2020-06-09 17:57] fjcaetano commented on #90
Hi @yildirimatcioglu. There's very little information to be able to assess anything here. If the Example project is working, that's a sign that the library is behaving properly and should be working for you too, unless you have misconfigured something.

You should **always** call `reset()` between each `validate()` call. Google's JS library does not allow validating more than once without resettin

[2020-06-12 15:01] Albinzr opened #92 "Webview is displayed where it should have been invissible"
When i ran the my project with code given in documentation, I'm able to see the webview, but it should be invisible. How can i fix this issue?

![image](https://user-images.githubusercontent.com/7425577/84516638-b27c3d00-aceb-11ea-9685-e1e9da8eb6e4.png)

[2020-06-12 18:37] fjcaetano commented on #92
From the ReCAPTCHA docs:

https://developers.google.com/recaptcha/docs/versions#recaptcha_v2_invisible_recaptcha_badge

[2020-06-12 18:37] #92 closed, assigned to nobody

[2020-06-17 20:15] vaverkax commented on #91
@fjcaetano I've tried again and have some results
I'm thinking that im trying to check captcha on wrong domain
Can it be the possible reason?
Because several times I had this message: _Event next(Error Recaptha encountered an error in execution)_

any suggestions?

p.s. sorry for late reply

[2020-06-17 20:45] vaverkax commented on #91
@fjcaetano Yep! it was wrong domain
everything is working fine
sorry for interrupting

p.s. messages from first comment with prefix `WF:` is standard webkit logging
it was included in iOS 10+
and you can turn it off(with other Xcode messages) while debugging  by putting `OS_ACTIVITY_MODE = disable` in Environment Variables section

[2020-06-17 20:45] #91 closed, assigned to nobody

[2020-06-17 21:19] fjcaetano commented on #91
Glad to know it's working! Configuring the right environment is not a trivial task and we've had a few people having trouble with that. If you have any suggestions on how to improve the instructions or the docs, please let me know!

[2020-06-21 08:55] vaverkax commented on #90
I've also run into this problem and solved it in my way( I think not the right one)

every time when user entered wrong code I need to reload recaptcha
So I did it like this:
1) recaptcha view is created not like global variable but it local stack( eg when user tap button)
2) proceed to validate recaptha
3) if user entered wrong code (recatpcha validate successfully ) I search WKWebView on screen

[2020-06-23 20:09] netspencer commented on #5
Is there a technical limitation that requires this library to use the invisible key?

[2020-06-23 20:17] fjcaetano commented on #90
@vaverkax what do you mean by "user entered wrong code"? The user shouldn't input any codes, they should only solve the challenge if the captcha asks for it, but the result received in the completion closure shouldn't be a `.token()` unless the captcha has successfully validated the user.

Anyway, your approach is being "better safe than sorry" by removing the webview every time, but it works. Rem

[2020-06-23 20:23] fjcaetano commented on #5
@netspencer yes, this library is compatible only with the Invisible ReCaptcha, as stated in the docs

[2020-06-24 04:26] vaverkax commented on #90
@fjcaetano it’s just a business logic
User must enter code from sms just like he entered a password
And then he must challenge the captcha (it’s not my decision to do like that))

As for your advices:
Setting tag for view it good idea, thanks. I’ll do that.
As for saving the reference - I think it was clearly understood so I dint mention it in my solution 😁

[2020-06-24 21:20] netspencer commented on #5
Thanks for your reply. I guess I wasn't clear enough in my question. I'm in the process of evaluating the approach to take with ReCaptcha in my app. I would like to be able to use the same API Key that we are using on web, which is not an invisible key.

Thus, I was looking for more technical insight into why this library only supports invisible keys. If I understood that more, I'd have a better o

[2020-06-24 23:03] fjcaetano commented on #5
I think I understood better what you need. The library does not work with non-invisible setup, but tbh, no one really tried looking into *why* it doesn't work, nor did anyone try making it work. I have a hunch that it's because you'd either have to show the ReCaptcha badge or a webview, during the whole process you may be trying to validate, but that's just a guess.

I think the first step here wo

[2020-06-24 23:41] netspencer commented on #5
I'm going to take a look and let you know if I discover anything.

[2020-06-25 05:34] netspencer commented on #5
I was able to get it working with regular ReCaptcha keys in a local fork. I will create a PR with some changes when I get the chance.

[2020-07-27 08:03] DeewaSharma opened #93 "Doesn't work for me as expected"
Captcha comes sometimes only all the other time it just validate user without opening captcha. Call did finished loading -> event next and then  Event completed -> isDisposed.
The appearance is random I am not getting any error or warnings it simply opens sometimes and everything works fine and other times it does not.

Testing on iPhone 11 Pro simulator.

[2020-07-28 19:17] fjcaetano commented on #93
@DeewaSharma I'm not sure I understood what the issue is. Please, try to follow the issue template since it was designed to help you provide the most detailed information possible.

I'll close this issue, but please, reopen it with the proper template.

[2020-07-28 19:17] #93 closed, assigned to nobody

[2020-07-30 05:59] DeewaSharma commented on #93
@fjcaetano Thank you so much for getting back to me, seems like the issue was related to simulator on real device captcha appears just fine.
Will get back to you after testing on various other devices.

[2020-08-10 18:47] fjcaetano commented on #90
Any updates on this issue? May I close it?

[2020-08-21 11:49] bogren opened #96 "Can't get past ReCaptcha - error loading captcha"
I can't figure out what goes wrong for a handful of our users. Looking at the custom errors we set up, looks like there is an unexpected error or failed setup. The result is that they can't get past the ReCaptcha and interact with parts of our app. I first thought we did not manage to reset, but turns out the users generate a lot of errors each.

I appreciate any ideas to help continue debug, or f

[2020-08-24 09:28] robert-vishal-perfomatix opened #97 "Is there any support for recaptcha v3?"
Could please provide any support for v3 for swift

[2020-08-24 22:23] fjcaetano commented on #97
V3 validation always succeeds and needs to be validated by a server, not by the client as [documented in the README](https://github.com/fjcaetano/ReCaptcha#warning-%EF%B8%8F)

Why do you think it'd make sense to add this kind of validation to a mobile app?

[2020-08-24 22:28] fjcaetano commented on #96
Those logs are internal to WebKit and they may be a duplicate of #77.

There's not much that can be done here, specially because there's not enough data to tackle or even reproduce this issue as you commented. Is it consistent to any specific devices or iOS versions? Would you be comfortable divulging the percentage of your users that are encountering this error? Feel free to email me if you don't

[2020-08-25 04:26] bogren commented on #96
It's not device specific, though iPhone 7 and 6 appear frequently. Happens to our US users on different carriers so we killed the theory of Google getting blocked. The percentage is very low, the impact is high for valid users who we block from interacting with parts of the app. I understand the problem is probably outside of you project. Looking for any leads, solutions or workarounds 😇

[2020-08-25 04:34] robert-vishal-perfomatix commented on #97
Hello,

Thank you for your response. For adding more security to the App, I thought
it would be better to integrate this.Thank you

On Tue, Aug 25, 2020 at 3:53 AM Flávio Caetano <notifications@github.com>
wrote:

--
*Robert Vishal*
Software Engineer

robert.vishal@perfomatix.com <winnie.fernandez@perfomatix.com>
____________________________________________________________________

USA - 44 Milton

[2020-08-25 14:30] #90 closed, assigned to nobody

[2020-08-25 23:07] fjcaetano commented on #96
To be honest there's not much I can help you with. You're only the second person that has encountered that issue. I have never seen that happening myself.

My suggestion for you is the same I gave on #77: keep an eye in [WebKit](https://github.com/WebKit/webkit) and their [Bugzilla](https://bugs.webkit.org/query.cgi?format=specific&product=WebKit) and maybe open a bug there. Also maybe try and get

[2020-09-17 05:06] bogren commented on #96
Idk I'm not getting much out of the logs. Closing the issue. If I find something I'll try to remember to share here! 👍

[2020-09-17 05:06] #96 closed, assigned to nobody

[2020-12-17 15:49] JAiden78 opened #99 "Loading issue"
I was trying to use this , but at the point where we call configure webview from viewdidload() , it doesn't return any value , completion handler never get called. I put my keys in info plist file and when i create recaptcha object with try it gets initialized but after that nothing happens in viewdidload , Kindly guide me how to resolve this issue.

[2020-12-17 20:20] fjcaetano commented on #99
Hey @JAiden78, it's hard to help you without any info. Please, try to follow the issue template since it's designed to help you troubleshoot your problem and to give the most relevant information so we can try and investigate what's happening.

I'll close this issue since it's in the wrong format, so please, open a new one following the template

[2020-12-17 20:20] #99 closed, assigned to nobody

[2020-12-24 12:58] DarkSatyr opened #100 "Is there any way to center CAPTCHA widget on the screen?"
iOS 13.4
Device: iPhone X

Captcha widget appears on the upper-left side of screen
![IMG_0006 1](https://user-images.githubusercontent.com/20116857/103089985-6bef8f80-45f8-11eb-9549-4ca112b745b4.PNG)

[2020-12-24 17:01] DarkSatyr commented on #100
Found a solution:
Since captcha has fixed size...
`let width = min(302, viewController.view.bounds.width)`
`let height = min(516, viewController.view.bounds.height)`
`webView.frame = CGRect(center: viewController.view.bounds.center, size: CGSize(width: width, height: height))`

Inside configureWebView closure

[2020-12-24 17:01] #100 closed, assigned to nobody

[2021-01-04 14:29] #97 closed, assigned to nobody

[2021-01-12 23:55] v11021 opened #102 "Validate callback not getting called"
https://www.compnyname.com ?
3. You are using an **Invisible** reCAPTCHA v2 key. --- YES
4. If the widget doesn't appear, that is expected since the library will try to resolve the challenge _invisibly_.
5. 1. You are using the **SITE** key  -- YES
2. The correct domain, with protocol, is setup.   ---- Does the domain have to be like ths --> https://www.compnyname.com ?
3. You are using an **Invis

[2021-01-13 19:49] v11021 commented on #102
@fjcaetano can you please help.

[2021-01-13 20:00] fjcaetano commented on #102
Is that domain you described the same one that have been configured on the ReCaptcha website?

Also, please post whatever is being logged if you can. There's not enough information there to infer what might be happening

[2021-01-13 20:31] v11021 commented on #102
@fjcaetano thanks for your reply. Actually I just tried again and it worked fine.
Though first time it showed me the captcha to solve images but next few tries it silently succeeded. Is there any way to do even the first time silently(invisibly)

[2021-01-13 20:47] fjcaetano commented on #102
That logic is handled by the Google library. I kinda makes sense to show the challenge at first because it doesn't really know if the user is a human or a computer.

I'm closing this issue since your situation seems to have solved itself, but feel free to reopen it or create a new one if you need.

[2021-01-13 20:47] #102 closed, assigned to nobody

[2021-02-18 04:13] irons163 commented on #62
Hi all,
I made an Objc version of this project:
[ReCaptcha_objc](https://github.com/irons163/ReCaptcha_objc)

Feel free to use it, and welcome to open any issue in that project.

[2021-04-27 15:07] vassily-fr commented on #100
But what if google choose to change size one day ?
Is there a another way to performe the "center"

[2021-04-27 19:51] fjcaetano commented on #100
Webviews usually have a hard time figuring out the size of their contents. You can try and set the frame based on the `contentSize`, but your best bet would be to use a fixed size

[2021-05-26 12:27] taimurali21 opened #104 "How to use it in Obj c"
kindly add sample for obj c

[2021-05-26 14:21] fjcaetano commented on #104
Duplicate of #62

See [this comment](https://github.com/fjcaetano/ReCaptcha/issues/62#issuecomment-781036335)

[2021-05-26 14:21] #104 closed, assigned to nobody

[2021-07-13 15:45] paulgoh opened #107 "Support for Swift Package Manager?"
Would it be possible to add support for Swift Package Manager? Currently this is the only 3rd party library in our app that doesn't support SPM.

[2021-07-13 19:28] fjcaetano commented on #107
I'd love to add SPM support, but to be honest, I don't want to promise anything since I have very little time to dedicate to this project.

If you're willing to work on that, your PR will be more than welcome! Seems like there was some work being done on #105. Maybe you can join forces with Jakub Mazur to tackle this?

[2021-07-15 17:45] JakubMazur commented on #107
Working on that, will submit PR in few days,

@fjcaetano I see you're a contributor in `AppSwizzle` repo. I just open a PR there:
https://github.com/zixun/AppSwizzle/pull/3

since it has dependency to test target here. You know if this can be merged or I should rather use yours (or mine) fork to link it with test target?

[2021-07-16 15:38] fjcaetano commented on #107
@JakubMazur I'm not a maintainer of the repo, I just had some code merged and am flagged as a contributor. Unfortunately, I don't have the permissions to approve your PR :/

[2021-07-17 17:46] JakubMazur opened #108 "Update Package to Swift Package Index"
Update package to Swift Package Index https://swiftpackageindex.com, after new version will be deployed with SPM Support (issue #107)

@fjcaetano you can assign me to it.

No source code changes needed.

[2021-07-17 17:49] JakubMazur commented on #107
OK, I point `AppSwizzle` to my fork, detailed explanation in #109

[2021-09-15 13:31] milankamilya opened #111 "Challenge web view should removed from view on Success"
## Bug description
I have setup the invisible reCaptcha v2 and able to see the challenge page. On completing the challenge successfully, a white page remains in the screen. So, I can't go back to the main [application.](url)

## To Reproduce
Steps to reproduce the behavior:
1. Get a challenge page [refer first image]
2. Complete the challenge page successfully
3. Received token in closure
4. But,

[2021-09-15 17:55] fjcaetano commented on #111
This seems to be a duplicate of #13

@milankamilya can you take a look at [this comment](https://github.com/fjcaetano/ReCaptcha/issues/13#issuecomment-347030182) and see if that helps?

[2021-09-16 03:07] milankamilya commented on #111
Thanks @fjcaetano for quick response.

Currently, I am removing the web view with a reference to it. But, I think it is library's responsibility to clean up the view after success.

[2021-09-16 14:55] fjcaetano commented on #111
Glad to know it's all working for you. Why do you think the library should be responsible for removing the webview? Managing the UI is the developer's responsibility.

The only reason the library asks for a view is because WKWebView only starts executing JS content when its inserted into a view in the main window's hierarchy. If it weren't for that, the lib would only notify the developer that the

[2021-09-16 15:05] milankamilya commented on #111
Thanks @fjcaetano.

[2021-09-16 15:05] #111 closed, assigned to nobody

[2021-12-07 01:14] astr0-4 opened #113 "How to display the captcha in a modal view controller?"
The way I would like to use this is to do the validation in the background, and then if the captcha needs to be displayed, present that webview in a modal view controller where the user can press back or cancel.

But it seems like we can only add the view as a subview to the current view? If I could just get notified when the captcha is ready to be displayed I think I could present a view controll

[2021-12-07 16:35] fjcaetano commented on #113
There's a limitation on WKWebView where it only executes the JS content when the view is part of the visible view hierarchy. That's why the library asks for a view during validation time.

If you want to present the webview on a modal, you could try removing it from the current superview and adding it to the view controller you will be presenting, but tbh, I have no idea if that will work or not.

[2022-01-09 19:10] davo156 opened #115 "reCaptcha not working for iOS 15.1.1"
## Bug description
As the title says, the reCaptcha won't load on iOS 15.1.1 with and iPhone 13 pro. To be more specific, when performing the validate method, the webview wont appear above the current view.

I followed the path, and before the executeJS method is called, the webview must be set to visible, but this do not happen. So because of this, the webview never appears and the validate won't

[2022-01-20 07:36] p01Sawsans commented on #115
I am facing this same issue also (reCaptcha not working ) for iOS versions 15.0+ .

[2022-01-24 13:51] fjcaetano commented on #115
I'm not being able to reproduce this issue. Did anyone investigate this further?

[2022-02-08 16:57] oldlf commented on #115
Works fine on ios 15.2.1 - iPhone X.

[2022-02-23 07:23] clbemre opened #116 "Failed Render Error"
Hello, I've been looking for the source of the problem for 2 days but I can't find it. Why is it throwing such an error?
## Logs
Recaptha encountered an error in execution

## Additional context

<img width="367" alt="image" src="https://user-images.githubusercontent.com/7671284/155276259-40856d79-8aa1-49b2-9aa4-dda134a98c33.png">

[2022-02-23 14:11] fjcaetano commented on #116
There's virtually no information here to be able to infer anything that may be affecting you. Please, try to stick to the issue template because it was designed to help you provide as much information as possible. I'll close this issue, but please reopen it using the provided issue template

[2022-02-23 14:11] #116 closed, assigned to nobody

[2022-03-01 07:40] clbemre commented on #116
Hello again. @fjcaetano
There is no other information I can provide you, when I debug, I see that the source of the problem is faileRender, but there is no information about the cause or exception.

**maybe you can tell me what might be causing the failedRender error.**

all i see in the log are constraints errors.

<img width="1018" alt="image" src="https://user-images.githubusercontent.com/76712

[2022-03-02 15:48] clbemre commented on #116
Hey i'm sorry but it's very important problem for me, could you help me please? I could not solve this problem.
(I have used the same way in another project and it works but it doesn't work my current project.)
Xcode 13
IOS min target 13

thank you. @fjcaetano

[2022-03-02 15:56] fjcaetano commented on #116
@clbemre It looks like the height of the webview or view you're using to display the ReCaptcha has height zero. The view you pass to the `validate` method needs to be visible and have a valid frame with width and height greater than zero, otherwise the JS engine isn't properly started.

My suggestion for troubleshooting and checking if you can get the error to stop is setting a fixed frame on the

[2022-03-03 11:17] clbemre commented on #116
![image](https://user-images.githubusercontent.com/7671284/156554131-06b5a6d8-2739-4ce9-bcd1-f757e7222999.png)

@fjcaetano
I solved the constraints issues with a temporary code. However, that is not the problem, recaptcha does not appear on the screen in any way. I checked correctly in my APIKey. It is really interesting.

[2022-03-07 11:21] Albinzr opened #117 "Support For SwiftUI"
Any plans to have support for SwiftUI?

[2022-03-07 16:16] fjcaetano commented on #117
That would be very interesting. Would you mind giving a shot and opening a PR?

[2022-03-08 20:05] #117 closed, assigned to nobody

[2022-07-20 22:43] 4tune commented on #97
https://github.com/InstaDev/ReCaptcha - here we have implementation for v3

[2022-08-17 06:32] hinaHingrajia commented on #115
Works fine on iOS 15.5

[2022-08-17 06:36] hinaHingrajia opened #121 "Change Widget WebView Frame, is it Possible ?"
I'm using  ReCaptcha v2 Invisible keys!
In my application I'm adding webview inside my custom view and then after getting token just removing it from my custom view and hiding the custom view.

My question is I want to change frame of widget screen of ReCaptcha(challenge selection) which is being shown within webview, plus needed to be transparent webview so background base view controller can be

[2022-08-18 11:09] hinaHingrajia opened #122 "How to Stop executing or resetting??"
I'm using the v2 reCaptcha for invisible

its continuing logging

[JS LOG]: executing
[JS LOG]: resetting

how to stop this behaviour?
Cause its causing crash to application.

[2022-09-14 07:26] Voxsie commented on #122
Did you found a way to solve this problem?

[2022-09-14 07:32] hinaHingrajia commented on #122
Nope not yet

On Wed, Sep 14, 2022 at 12:56 PM Ilya ***@***.***> wrote:

[2022-09-20 15:05] fjcaetano commented on #122
There's not a lot of information on this issue to investigate anything. You haven't provided any logs or useful information that could help diagnose the issue. This issue is not even following the bug reporting template which was designed to help provide as much information as possible to help troubleshoot.

I'm closing this issue, because there's nothing that can be done here, however feel free t

[2022-09-20 15:05] #122 closed, assigned to nobody

[2022-09-20 15:08] fjcaetano commented on #121
You can resize the webview, but its contents are controlled by Google/ReCaptcha, which means there's no assurance the layout won't be broken. Increasing the size of the webview is usually not an issue, because you're providing more space than required to properly render the view. However, downsizing it is when you might start finding issues.

You can change the background color of a WKWebView, how

[2022-09-23 08:47] Voxsie commented on #122
Hello @fjcaetano! That's what he writes to me in the console. There is a very heavy load on the device resources and these messages are constantly generated. Reset and stop functions are not working
![image](https://user-images.githubusercontent.com/72042693/191924102-075ed469-fcf9-4a93-997e-6d38ef749e93.png)